<!--  navber st -->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">LOGo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Link</a>
                </li>

            </ul>
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<!--  navber ent -->
<div class="radesh d-flex">

    <div class="sitber  ">
        <div class="lago">

        </div>
        <ul class="main">
            <li>
                <a href="#">
                    <i class="bi bi-palette-fill"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="bi bi-person-fill"></i>
                    <span>Profile</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="bi bi-sort-up-alt"></i>
                    <span>Statistics</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="bi bi-briefcase-fill"></i>
                    <span>Careers</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="bi bi-question-square-fill"></i>
                    <span>FAQ</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="bi bi-star-fill"></i>
                    <span>Testimonials</span>
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="bi bi-gear-fill"></i>
                    <span>Setting</span>
                </a>

            </li>
            <li class="Logout mt-5">
                <a href="#">
                    <i class="bi bi-box-arrow-right"></i>
                    <span>Logout</span>
                </a>

            </li>

        </ul>

    </div>

