@model CURT.DATA.BAS.Models.Teacher

@{
    
}

<h1 class="text-center"> Teacher Detiles</h1>
<hr />

<div>
    <p> Id No :@Model.Id</p>
    <p> Name :@Model.Name</p>
    <p> Subject :@Model.Subject</p>
    <p> DEparment : @Model.Department</p>
    <p> Email No : @Model.Email</p>
    <p> Phone Number :@Model.Phone</p>
    
    
   
</div>
<div>
    
    <a asp-action="Index" class="btn btn-outline-light">Back to List</a>
</div>
